@{
    ViewData["Title"] = "Golf";
}
<h1>@ViewData["Title"]</h1>

<p>Hos Hotel Landlyst har du mulighed for at kombinerer en hoteloplevelse ud over det sædvanlige,
    med en golf oplevelse i prægtige omgivelser.</p>
