@{
    ViewData["Title"] = "Velkommen hos";
}
<html>
<body>
    div class="text-center">
    <h1 class="display-4">Velkommen hos Landlyst kro og hotel</h1>
    <p>En tidslomme i klassiske omgivelser</p>
    </div>

    <p>
        This is a paragraph 3
    </p>
</body>
</html>
