
@{
    ViewData["Title"] = "Restaurant";
}

<div class="container">
    <img src="~/Images/Restaurant/Restaurant_2.jpg" alt="Snow" style="width:100%;">
    <div class="centered" id="centered2">LandLyst Kro</div>
</div>

<div class="container-fluid bg-3 text-center" id="boodytext">
    <div class="row">
        <div class="col-sm-3">
            <p>Some text..</p>
            <img id="food" src="~/Images/Restaurant/dish/d_1.jpg" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img id="food" src="~/Images/Restaurant/dish/d_2.jpg" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img id="food" src="~/Images/Restaurant/dish/d_3.jpg" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img id="food" src="~/Images/Restaurant/dish/d_4.jpg" class="img-responsive" alt="Image">
        </div>
    </div>
</div>
<br>

<div class="container-fluid bg-3 text-center" id="boodytext">
    <div class="row">
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>

