/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Hide scrollbar for Chrome, Safari and Opera */
.scroller::-webkit-scrollbar {
    display: none;
}
/*Hide scrollbar for IE, Edge(old) and firefox*/
.scroller {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox  (i know i know css3)*/
}


/*Navigation bar (This is a serious mess i know, but will hopefully get better soon)*/
.navbar {
    background-color: rgba(27, 110, 194, 0.0) !important;
    border: 0px !important;
    padding: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

    .navbar.navbar-default {
        background-color: rgba(27, 110, 194, 0.0) !important;
        border: 0px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

        .navbar.navbar-default .navbar-collapse {
            align-content: center;
            border: 0px !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

            .navbar.navbar-default .navbar-collapse img {
                align-content: center;
                border: 0px !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }

a.navbar-brand {
    /*    color: rgba(255, 255, 255, 0.0);
    background-color: rgba(255, 255, 255, 0.0);*/
    white-space: normal;
    text-align: center;
    word-break: break-all;
}




/*Navigation background*/
.nav-pills {
    text-align: center;
    background-color: rgba(12,5,3,0.85);
    opacity: 0.85;
}
/*Not active menu*/
.nav-link {
    color: rgba(255,255,255,0.85) !important;
    font-family: 'Marko One', serif;
    font-weight: bold;
}
/*mouse over menu*/
.nav-pills .pill .nav-link:hover {
    color: rgba(131,93,72,0.6);
    font-family: 'Marko One', serif;
    font-weight: bold;
}
/*Active menu*/
.nav-pills .pill .nav-link.active {
    color: rgba(12,5,3,0.85);
    background-color: rgba(131,93,72,0.6);
    font-family: 'Marko One', serif;
    font-weight: bold;
}





/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/*Buttons*/
.btn-primary {
    color: rgba(255, 255, 255, .0);
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 1.0);
    background-color: #1b6ec2;
       border-color: #1861ac;
}*/




/*CSS for the mainbody*/
.mainBody {
    position: relative;
    background-color: rgba(202,203,205,0.9);
    border-style: solid;
    border-radius: 25px 25px;
    border-color: rgba(1, 92, 208,0.3);
    border-width: 2px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.9) !important;
    margin: 15px 15px 15px 15px;
    padding: 5px;

}

    .mainBody .image {
        border-radius: 15px 15px 15px 15px !important;
    }

    .mainBody p {
        font-family: 'Marko One', serif;
        margin: 15px;
        color: rgba(251,232,206,1);
    }

    .mainBody h1 {
        font-family: 'Marko One', serif;
        margin: 15px;
        color: rgba(251,232,206,1);
        font-weight: bold;
    }
    
    .mainBody h2 {
        font-family: 'Marko One', serif;
        margin: 15px;
        color: rgba(251,232,206,1);
        font-weight: bold;
    }

    .mainBody h3 {
        font-family: 'Marko One', serif;
        margin: 15px;
        color: rgba(251,232,206,1);
        font-weight: bold;
    }

    .mainBody h4 {
        font-family: 'Marko One', serif;
        margin: 15px;
        color: rgba(251,232,206,1);
    }

    .mainBody h5 {
        font-family: 'Marko One', serif;
        margin: 15px;
        color: rgba(251,232,206,1);
    }


/*Forms layout*/
.myForms {
   /* position: relative;*/
    background-color: rgba(202,203,205,0.8);
    border-style: solid;
    border-radius: 25px 25px;
    border-color: rgba(1, 92, 208,0.3);
    border-width: 4px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.9) !important;
    margin: 15px 15px 15px 15px;
    padding: 5px;
}

.label {
    text-align: left;
    font-family: 'Marko One', serif;
    color:#000000;
}

.text-bold{
text-decoration:
}

.bodyText {
    text-align: left !important;
    font-family: 'Marko One', serif;
    color: rgba(251,232,206,1);
}

#searchResultLeft {
    text-align: left;
}

#searchResultRight {
    float: right !important;
  
}

#rooms {
    /*  min-height: 225px;
    max-height: 450px;*/
/*    min-width: 400px;
*/    max-width: 100%;
    border: solid;
    border-width: 0px;
    border-radius: 25px;
    margin: 15px,15px,15px,15px !important;

}

#roomPadding {
    padding-top: 15px;
}

.bookingbuttonPadding {
    padding-top: 15px;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
    
}


/*Forms layout*/
.mySearch {
    position: relative;
    background-color: rgba(202,203,205,0.8);
    border-style: solid;
    border-radius: 25px 25px;
    border-color: rgba(1, 92, 208,0.3);
    border-width: 4px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.9) !important;
    margin: 0px 0px 15px 0px;
    padding: 10px;
}






/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 0px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 0px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}






/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('/Images/Eaves_Hall_cropped_1920_high.jpg');
    background-color: #292929;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    /*    -webkit-box-shadow: none !important;
    box-shadow: none !important;*/
    border: 0px !important;
}



/* bootstrap css styles
-------------------------------------------------- */
/* index*/
#boodytext {
    background-color: rgba(179,191,218,0.4);
    text-shadow: 2px 2px 4px #000000;
    box-shadow: gray;
    color: white;
    border-style: double;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
    max-height: 350px;
}

h1.info {
    float: top left;
}

div.img-responsive {
    margin: auto;
    height: 150px;
}

.carousel-caption {
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

/*Restaurant*/
.centered_head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00ff00;
}

.head-img {
    min-height: 200 px;
    max-height: 300 px;
}

h1.centered_head {
    color: white;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

#hedline {
    padding-bottom: 100 pz;
}

#food {

    min-height: 75px;
    max-height: 250px;
    min-width: 50px;
    max-width: 200px;
}

#centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: double;
    background-color: rgba(179,191,218,0.4);
    text-shadow: 2px 2px 4px #000000;
    box-shadow: gray;
    font-size: 75px;
    min-height:250px;
    max-height:350px;
    min-width:500px;
    max-width:700px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

